In [1]:
# import bbb patients file

In [2]:
import pandas as pd
df_bb_pati=pd.read_excel(r"C:\Users\hp\Downloads\Insurance_Customers.xlsx",sheet_name="BBB_Patients")
df_bb_pati

       patientid  membershipid    groupid   person_nbr
0          10001     123456891  Upperbody  2386.041022
1          10002     123456891  Upperbody  7219.568003
2          10003     123456891  Upperbody  1110.167181
3          10004     123456891  Upperbody  4522.639998
4          10005     123456891  Upperbody  7305.192980
...          ...           ...        ...          ...
10114      20115     123456896     Nerves  2985.574310
10115      20116     123456896     Nerves  9698.888692
10116      20117     123456896     Nerves  3305.456074
10117      20118     123456896     Nerves  9179.853623
10118      20119     123456896     Nerves  2048.429434

[10119 rows x 4 columns]

In [3]:
# basic checks

In [4]:
df_bb_pati.shape

(10119, 4)

In [5]:
df_bb_pati.columns

Index(['patientid', 'membershipid', 'groupid', 'person_nbr'], dtype='object')

In [6]:
df_bb_pati.head()

   patientid  membershipid    groupid   person_nbr
0      10001     123456891  Upperbody  2386.041022
1      10002     123456891  Upperbody  7219.568003
2      10003     123456891  Upperbody  1110.167181
3      10004     123456891  Upperbody  4522.639998
4      10005     123456891  Upperbody  7305.192980

In [7]:
df_bb_pati.tail()

       patientid  membershipid groupid   person_nbr
10114      20115     123456896  Nerves  2985.574310
10115      20116     123456896  Nerves  9698.888692
10116      20117     123456896  Nerves  3305.456074
10117      20118     123456896  Nerves  9179.853623
10118      20119     123456896  Nerves  2048.429434

In [8]:
#import the bb address file

In [9]:
df_bb_address=pd.read_excel(r"C:\Users\hp\Downloads\Insurance_Customers.xlsx",sheet_name="BBB_Address")
df_bb_address

,patientid,membershipid,groupid,person_nbr,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR
0,10001,123456891,Upperbody,2.386041e+03,C,O,C
1,10002,123456891,Upperbody,7.219568e+03,C,O,C
2,10003,123456891,Upperbody,1.110167e+03,C,O,C
3,10004,123456891,Upperbody,4.522640e+03,C,O,C
4,10005,123456891,Upperbody,7.305193e+03,C,O,C
...,...,...,...,...,...,...,...
15989,25990,28862324,EarD,1.149511e+07,C,H,C
15990,25991,46570001,EarD,8.241271e+06,C,H,C
15991,25992,26399463,EarD,1.021972e+06,C,H,C
15992,25993,63512490,EarD,8.382799e+06,C,H,C
15993,25994,30518036,EarD,1.074175e+07,C,H,C

In [10]:
# ************************************basic checks******************************

In [11]:
df_bb_address.shape

(15994, 7)

In [12]:
df_bb_address.columns

Index(['patientid', 'membershipid', 'groupid', 'person_nbr',
       'Primary_Phone_NBR', 'Phone2_NBR', 'Phone3_NBR'],
      dtype='object')

In [13]:
df_bb_address.head()

,patientid,membershipid,groupid,person_nbr,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR
0,10001,123456891,Upperbody,2386.041022,C,O,C
1,10002,123456891,Upperbody,7219.568003,C,O,C
2,10003,123456891,Upperbody,1110.167181,C,O,C
3,10004,123456891,Upperbody,4522.639998,C,O,C
4,10005,123456891,Upperbody,7305.192980,C,O,C

In [14]:
df_bb_address.tail()

,patientid,membershipid,groupid,person_nbr,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR
15989,25990,28862324,EarD,1.149511e+07,C,H,C
15990,25991,46570001,EarD,8.241271e+06,C,H,C
15991,25992,26399463,EarD,1.021972e+06,C,H,C
15992,25993,63512490,EarD,8.382799e+06,C,H,C
15993,25994,30518036,EarD,1.074175e+07,C,H,C

In [15]:
#****************left join*********************8

In [16]:
df_pa_add_merge=df_bb_pati.merge(df_bb_address,how="left",on=['patientid', 'membershipid', 'groupid', 'person_nbr'])
df_pa_add_merge

,patientid,membershipid,groupid,person_nbr,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR
0,10001,123456891,Upperbody,2386.041022,C,O,C
1,10002,123456891,Upperbody,7219.568003,C,O,C
2,10003,123456891,Upperbody,1110.167181,C,O,C
3,10004,123456891,Upperbody,4522.639998,C,O,C
4,10005,123456891,Upperbody,7305.192980,C,O,C
...,...,...,...,...,...,...,...
10114,20115,123456896,Nerves,2985.574310,C,H,C
10115,20116,123456896,Nerves,9698.888692,C,H,C
10116,20117,123456896,Nerves,3305.456074,C,H,C
10117,20118,123456896,Nerves,9179.853623,C,H,C
10118,20119,123456896,Nerves,2048.429434,C,H,C

In [17]:
# basic checks

In [18]:
df_pa_add_merge.head()

,patientid,membershipid,groupid,person_nbr,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR
0,10001,123456891,Upperbody,2386.041022,C,O,C
1,10002,123456891,Upperbody,7219.568003,C,O,C
2,10003,123456891,Upperbody,1110.167181,C,O,C
3,10004,123456891,Upperbody,4522.639998,C,O,C
4,10005,123456891,Upperbody,7305.192980,C,O,C

In [19]:
df_pa_add_merge.tail()

,patientid,membershipid,groupid,person_nbr,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR
10114,20115,123456896,Nerves,2985.574310,C,H,C
10115,20116,123456896,Nerves,9698.888692,C,H,C
10116,20117,123456896,Nerves,3305.456074,C,H,C
10117,20118,123456896,Nerves,9179.853623,C,H,C
10118,20119,123456896,Nerves,2048.429434,C,H,C

In [20]:
# ******************** adding a new column***************

In [21]:
df_pa_add_merge["cellflag"]=""

In [22]:
df_pa_add_merge

,patientid,membershipid,groupid,person_nbr,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR,cellflag
0,10001,123456891,Upperbody,2386.041022,C,O,C,
1,10002,123456891,Upperbody,7219.568003,C,O,C,
2,10003,123456891,Upperbody,1110.167181,C,O,C,
3,10004,123456891,Upperbody,4522.639998,C,O,C,
4,10005,123456891,Upperbody,7305.192980,C,O,C,
...,...,...,...,...,...,...,...,...
10114,20115,123456896,Nerves,2985.574310,C,H,C,
10115,20116,123456896,Nerves,9698.888692,C,H,C,
10116,20117,123456896,Nerves,3305.456074,C,H,C,
10117,20118,123456896,Nerves,9179.853623,C,H,C,
10118,20119,123456896,Nerves,2048.429434,C,H,C,

In [23]:
df_pa_add_merge.columns

Index(['patientid', 'membershipid', 'groupid', 'person_nbr',
       'Primary_Phone_NBR', 'Phone2_NBR', 'Phone3_NBR', 'cellflag'],
      dtype='object')

In [24]:
#***************** cellflag update for p ****************888

In [25]:
import numpy as np
df_pa_add_merge["cellflag"]=np.where(df_pa_add_merge["Primary_Phone_NBR"]=="C","P",df_pa_add_merge["cellflag"])

In [26]:
df_pa_add_merge.cellflag.value_counts()

     6372
P    3747
Name: cellflag, dtype: int64

In [27]:
# -----updating S flag, wher priman!=c pr2=c

In [28]:
df_pa_add_merge["cellflag"]=np.where((df_pa_add_merge["Primary_Phone_NBR"]!="C") & (df_pa_add_merge["Phone2_NBR"]=="C"),"S",df_pa_add_merge["cellflag"])

In [29]:
df_pa_add_merge.cellflag.value_counts()

     4630
P    3747
S    1742
Name: cellflag, dtype: int64

In [30]:
# -----updating S flag, wher priman!=c and  pr3=c

In [31]:
df_pa_add_merge["cellflag"]=np.where((df_pa_add_merge["Primary_Phone_NBR"]!="C") & (df_pa_add_merge["Phone3_NBR"]=="C"),"S",df_pa_add_merge["cellflag"])

In [32]:
# -----updating N flag, wher priman!=c  pr3!=c

In [33]:
df_pa_add_merge["cellflag"]=np.where((df_pa_add_merge["Primary_Phone_NBR"]!="C") & (df_pa_add_merge["Phone3_NBR"]!="C"),"N",df_pa_add_merge["cellflag"])

In [34]:
# -----updating N flag, wher priman!=c pr2!=c

In [35]:
df_pa_add_merge["cellflag"]=np.where((df_pa_add_merge["Primary_Phone_NBR"]!="C") & (df_pa_add_merge["Phone2_NBR"]!="C"),"N",df_pa_add_merge["cellflag"])

In [36]:
df_pa_add_merge.cellflag.unique()

array(['P', 'N', 'S'], dtype=object)

In [37]:
df_pa_add_merge.cellflag.value_counts()

N    6371
P    3747
S       1
Name: cellflag, dtype: int64

In [38]:
# create a new columns

In [39]:
df_pa_add_merge['Flag']="Total BBB patients count:"

In [40]:
df_pa_add_merge

,patientid,membershipid,groupid,person_nbr,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR,cellflag,Flag
0,10001,123456891,Upperbody,2386.041022,C,O,C,P,Total BBB patients count:
1,10002,123456891,Upperbody,7219.568003,C,O,C,P,Total BBB patients count:
2,10003,123456891,Upperbody,1110.167181,C,O,C,P,Total BBB patients count:
3,10004,123456891,Upperbody,4522.639998,C,O,C,P,Total BBB patients count:
4,10005,123456891,Upperbody,7305.192980,C,O,C,P,Total BBB patients count:
...,...,...,...,...,...,...,...,...,...
10114,20115,123456896,Nerves,2985.574310,C,H,C,P,Total BBB patients count:
10115,20116,123456896,Nerves,9698.888692,C,H,C,P,Total BBB patients count:
10116,20117,123456896,Nerves,3305.456074,C,H,C,P,Total BBB patients count:
10117,20118,123456896,Nerves,9179.853623,C,H,C,P,Total BBB patients count:
10118,20119,123456896,Nerves,2048.429434,C,H,C,P,Total BBB patients count:

In [41]:
# bbb_p_add_merge

In [42]:
df_pa_add_merge_p=df_pa_add_merge[df_pa_add_merge.cellflag=="P"]

In [43]:
df_pa_add_merge_p["Flag"]="Total BBB patients for cell flag P"

C:\Users\hp\AppData\Local\Temp\ipykernel_16584\322280302.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pa_add_merge_p["Flag"]="Total BBB patients for cell flag P"

In [44]:
df_pa_add_merge_s=df_pa_add_merge[df_pa_add_merge.cellflag=="S"]

In [45]:
df_pa_add_merge_s["Flag"]="Total BBB patients for cell flag S"

C:\Users\hp\AppData\Local\Temp\ipykernel_16584\1554297106.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pa_add_merge_s["Flag"]="Total BBB patients for cell flag S"

In [46]:
df_pa_add_merge_n=df_pa_add_merge[df_pa_add_merge.cellflag=="N"]

In [47]:
df_pa_add_merge_n["Flag"]="Total BBB patients for cell flag N"

C:\Users\hp\AppData\Local\Temp\ipykernel_16584\2219746606.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pa_add_merge_n["Flag"]="Total BBB patients for cell flag N"

In [48]:
df_pa_add_merge.head()

,patientid,membershipid,groupid,person_nbr,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR,cellflag,Flag
0,10001,123456891,Upperbody,2386.041022,C,O,C,P,Total BBB patients count:
1,10002,123456891,Upperbody,7219.568003,C,O,C,P,Total BBB patients count:
2,10003,123456891,Upperbody,1110.167181,C,O,C,P,Total BBB patients count:
3,10004,123456891,Upperbody,4522.639998,C,O,C,P,Total BBB patients count:
4,10005,123456891,Upperbody,7305.192980,C,O,C,P,Total BBB patients count:

In [49]:
df_pa_add_merge_p.head()

,patientid,membershipid,groupid,person_nbr,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR,cellflag,Flag
0,10001,123456891,Upperbody,2386.041022,C,O,C,P,Total BBB patients for cell flag P
1,10002,123456891,Upperbody,7219.568003,C,O,C,P,Total BBB patients for cell flag P
2,10003,123456891,Upperbody,1110.167181,C,O,C,P,Total BBB patients for cell flag P
3,10004,123456891,Upperbody,4522.639998,C,O,C,P,Total BBB patients for cell flag P
4,10005,123456891,Upperbody,7305.192980,C,O,C,P,Total BBB patients for cell flag P

In [50]:
df_pa_add_merge_s.head()

,patientid,membershipid,groupid,person_nbr,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR,cellflag,Flag
7117,17118,123456895,Obesity,1969.190691,O,C,C,S,Total BBB patients for cell flag S

In [51]:
df_pa_add_merge_n.head()

,patientid,membershipid,groupid,person_nbr,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR,cellflag,Flag
614,10615,123456891,Lowerbody,3303.046210,O,C,O,N,Total BBB patients for cell flag N
615,10616,123456891,Lowerbody,4080.627852,O,C,O,N,Total BBB patients for cell flag N
616,10617,123456891,Lowerbody,4888.358478,O,C,O,N,Total BBB patients for cell flag N
617,10618,123456891,Lowerbody,9764.582779,O,C,O,N,Total BBB patients for cell flag N
618,10619,123456891,Lowerbody,7557.726735,O,C,O,N,Total BBB patients for cell flag N

In [52]:
# genetare a summery reports for values of p,s,n and total bbb patients
#create a data frame for values of p,s,n and total bbb patients

In [53]:
df_pa_add_merge_sm=df_pa_add_merge.groupby(["Flag"])["patientid"].count()
df_pa_add_merge_sm_ndf=pd.DataFrame(df_pa_add_merge_sm)
df_pa_add_merge_sm_ndf.reset_index(inplace=True)

In [54]:
df_pa_add_merge_sm_ndf

                        Flag  patientid
0  Total BBB patients count:      10119

In [55]:
df_pa_add_merge_P_sm=df_pa_add_merge_p.groupby(["Flag"])["patientid"].count()
df_pa_add_merge_P_sm_ndf=pd.DataFrame(df_pa_add_merge_P_sm)
df_pa_add_merge_P_sm_ndf.reset_index(inplace=True)

In [56]:
df_pa_add_merge_P_sm_ndf

                                 Flag  patientid
0  Total BBB patients for cell flag P       3747

In [57]:

df_pa_add_merge_s_sm=df_pa_add_merge_s.groupby(["Flag"])["patientid"].count()
df_pa_add_merge_s_sm_ndf=pd.DataFrame(df_pa_add_merge_s_sm)
df_pa_add_merge_s_sm_ndf.reset_index(inplace=True)

In [58]:
df_pa_add_merge_s_sm_ndf

                                 Flag  patientid
0  Total BBB patients for cell flag S          1

In [59]:
df_pa_add_merge_n_sm=df_pa_add_merge_n.groupby(["Flag"])["patientid"].count()
df_pa_add_merge_n_sm_ndf=pd.DataFrame(df_pa_add_merge_n_sm)
df_pa_add_merge_n_sm_ndf.reset_index(inplace=True)

In [60]:
df_pa_add_merge_n_sm_ndf

                                 Flag  patientid
0  Total BBB patients for cell flag N       6371

In [61]:
df_pa_add_merge.cellflag.unique()

array(['P', 'N', 'S'], dtype=object)

In [62]:
df_pa_add_merge.cellflag.value_counts()

N    6371
P    3747
S       1
Name: cellflag, dtype: int64

In [63]:
df_pa_add_merge.columns

Index(['patientid', 'membershipid', 'groupid', 'person_nbr',
       'Primary_Phone_NBR', 'Phone2_NBR', 'Phone3_NBR', 'cellflag', 'Flag'],
      dtype='object')

In [64]:
# append all df

In [65]:
final_bb_df=pd.concat([df_pa_add_merge_sm_ndf,df_pa_add_merge_P_sm_ndf,df_pa_add_merge_s_sm_ndf,df_pa_add_merge_n_sm_ndf],ignore_index=True,axis=0)

In [66]:
final_bb_df

                                 Flag  patientid
0           Total BBB patients count:      10119
1  Total BBB patients for cell flag P       3747
2  Total BBB patients for cell flag S          1
3  Total BBB patients for cell flag N       6371

In [67]:
final_bb_df.columns

Index(['Flag', 'patientid'], dtype='object')

In [68]:
# rename a column name

In [69]:
final_bb_df.columns=["Flag","Count"]

In [70]:
final_bb_df

                                 Flag  Count
0           Total BBB patients count:  10119
1  Total BBB patients for cell flag P   3747
2  Total BBB patients for cell flag S      1
3  Total BBB patients for cell flag N   6371

In [71]:
# create a new columns date

In [72]:
from datetime import date
today=date.today()
print("today=",today)
date=today

today= 2023-08-17

In [73]:
final_bb_df["Date"]=today

In [74]:
final_bb_df

                                 Flag  Count        Date
0           Total BBB patients count:  10119  2023-08-17
1  Total BBB patients for cell flag P   3747  2023-08-17
2  Total BBB patients for cell flag S      1  2023-08-17
3  Total BBB patients for cell flag N   6371  2023-08-17

In [75]:
# import time function

In [76]:
import time
now=time.localtime()
t=time.strftime("%H :%M :%S",now)
print(t)

12 :02 :07

In [77]:
final_bb_df["Time"]=t

In [78]:
final_bb_df

                                 Flag  Count        Date        Time
0           Total BBB patients count:  10119  2023-08-17  12 :02 :07
1  Total BBB patients for cell flag P   3747  2023-08-17  12 :02 :07
2  Total BBB patients for cell flag S      1  2023-08-17  12 :02 :07
3  Total BBB patients for cell flag N   6371  2023-08-17  12 :02 :07

In [79]:
final_bb_df.columns

Index(['Flag', 'Count', 'Date', 'Time'], dtype='object')

In [80]:
# sort the df

In [81]:
df_bbb_f=final_bb_df.iloc[:,[2,3,0,1]]

In [82]:
df_bbb_f

         Date        Time                                Flag  Count
0  2023-08-17  12 :02 :07           Total BBB patients count:  10119
1  2023-08-17  12 :02 :07  Total BBB patients for cell flag P   3747
2  2023-08-17  12 :02 :07  Total BBB patients for cell flag S      1
3  2023-08-17  12 :02 :07  Total BBB patients for cell flag N   6371

In [83]:
#******************************* #import DDDpatients and DDD Address files *****************************************8

In [84]:
# import ddd patients file

In [85]:
import pandas as pd
dd_p=pd.read_excel(r"C:\Users\hp\Downloads\Insurance_Customers.xlsx",sheet_name="DDD_Patients")
dd_p

       patientid    membershid  groupid   person_nbr
0         200001   4456.162497      100  2748.280106
1         200002   4456.162497      100  3983.633278
2         200003   4456.162497      100  5918.043203
3         200004   4456.162497      100  5882.418134
4         200005   4456.162497      100  3519.095855
...          ...           ...      ...          ...
84006     284007  61967.640577      108  6406.791285
84007     284008  61967.640577      108  5736.801838
84008     284009  61967.640577      108  7613.994822
84009     284010  61967.640577      108  8530.577571
84010     284011  61967.640577      108  2140.830791

[84011 rows x 4 columns]

In [86]:
# basic checks

In [87]:
dd_p.shape

(84011, 4)

In [88]:
dd_p.columns

Index(['patientid', 'membershid', 'groupid', 'person_nbr'], dtype='object')

In [89]:
dd_p.head()

   patientid   membershid  groupid   person_nbr
0     200001  4456.162497      100  2748.280106
1     200002  4456.162497      100  3983.633278
2     200003  4456.162497      100  5918.043203
3     200004  4456.162497      100  5882.418134
4     200005  4456.162497      100  3519.095855

In [90]:
dd_p.tail()

       patientid    membershid  groupid   person_nbr
84006     284007  61967.640577      108  6406.791285
84007     284008  61967.640577      108  5736.801838
84008     284009  61967.640577      108  7613.994822
84009     284010  61967.640577      108  8530.577571
84010     284011  61967.640577      108  2140.830791

In [91]:
# import ddd address file

In [92]:
import pandas as pd
dd_a=pd.read_excel(r"C:\Users\hp\Downloads\Insurance_Customers.xlsx",sheet_name="DDD_Address")
dd_a

,patientid,membershid,groupid,person_nbr,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR
0,200001,4456.162497,100,2748.280106,C,O,C
1,200002,4456.162497,100,3983.633278,C,O,C
2,200003,4456.162497,100,5918.043203,C,O,C
3,200004,4456.162497,100,5882.418134,C,O,C
4,200005,4456.162497,100,3519.095855,C,O,C
...,...,...,...,...,...,...,...
84006,284007,61967.640577,108,6406.791285,C,C,C
84007,284008,61967.640577,108,5736.801838,C,C,C
84008,284009,61967.640577,108,7613.994822,C,C,C
84009,284010,61967.640577,108,8530.577571,C,C,C
84010,284011,61967.640577,108,2140.830791,C,C,C

In [93]:
# basic checks

In [94]:
dd_a.shape

(84011, 7)

In [95]:
dd_a.columns

Index(['patientid', 'membershid', 'groupid', 'person_nbr', 'Primary_Phone_NBR',
       'Phone2_NBR', 'Phone3_NBR'],
      dtype='object')

In [96]:
dd_a.head()

,patientid,membershid,groupid,person_nbr,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR
0,200001,4456.162497,100,2748.280106,C,O,C
1,200002,4456.162497,100,3983.633278,C,O,C
2,200003,4456.162497,100,5918.043203,C,O,C
3,200004,4456.162497,100,5882.418134,C,O,C
4,200005,4456.162497,100,3519.095855,C,O,C

In [97]:
dd_a.tail()

,patientid,membershid,groupid,person_nbr,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR
84006,284007,61967.640577,108,6406.791285,C,C,C
84007,284008,61967.640577,108,5736.801838,C,C,C
84008,284009,61967.640577,108,7613.994822,C,C,C
84009,284010,61967.640577,108,8530.577571,C,C,C
84010,284011,61967.640577,108,2140.830791,C,C,C

In [98]:
# left join

In [99]:
dd_l=dd_p.merge(dd_a,how="left",on=['patientid', 'membershid', 'groupid', 'person_nbr'])

In [100]:
dd_l

,patientid,membershid,groupid,person_nbr,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR
0,200001,4456.162497,100,2748.280106,C,O,C
1,200002,4456.162497,100,3983.633278,C,O,C
2,200003,4456.162497,100,5918.043203,C,O,C
3,200004,4456.162497,100,5882.418134,C,O,C
4,200005,4456.162497,100,3519.095855,C,O,C
...,...,...,...,...,...,...,...
84006,284007,61967.640577,108,6406.791285,C,C,C
84007,284008,61967.640577,108,5736.801838,C,C,C
84008,284009,61967.640577,108,7613.994822,C,C,C
84009,284010,61967.640577,108,8530.577571,C,C,C
84010,284011,61967.640577,108,2140.830791,C,C,C

In [101]:
# import ddd flags file

In [102]:
import pandas as pd
df_f=pd.read_excel(r"C:\Users\hp\Downloads\Insurance_Customers.xlsx",sheet_name="DDD_Flag")

In [103]:
df_f

   groupid        Flag
0      100        EarD
1      102       EyesD
2      103     Nervers
3      105       KneeF
4      106      SpineF
5      107     Obesity
6      108  Obesity-II

In [104]:
# basic checks

In [105]:
df_f.shape

(7, 2)

In [106]:
df_f.columns

Index(['groupid', 'Flag'], dtype='object')

In [107]:
# left join

In [108]:
dd_M=dd_l.merge(df_f,how="left",on="groupid")

In [109]:
dd_M

,patientid,membershid,groupid,person_nbr,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR,Flag
0,200001,4456.162497,100,2748.280106,C,O,C,EarD
1,200002,4456.162497,100,3983.633278,C,O,C,EarD
2,200003,4456.162497,100,5918.043203,C,O,C,EarD
3,200004,4456.162497,100,5882.418134,C,O,C,EarD
4,200005,4456.162497,100,3519.095855,C,O,C,EarD
...,...,...,...,...,...,...,...,...
84006,284007,61967.640577,108,6406.791285,C,C,C,Obesity-II
84007,284008,61967.640577,108,5736.801838,C,C,C,Obesity-II
84008,284009,61967.640577,108,7613.994822,C,C,C,Obesity-II
84009,284010,61967.640577,108,8530.577571,C,C,C,Obesity-II
84010,284011,61967.640577,108,2140.830791,C,C,C,Obesity-II

In [110]:
dd_M.columns

Index(['patientid', 'membershid', 'groupid', 'person_nbr', 'Primary_Phone_NBR',
       'Phone2_NBR', 'Phone3_NBR', 'Flag'],
      dtype='object')

In [111]:
# slice or remove columns name

In [112]:
dd_M_l=dd_M[['patientid', 'membershid','person_nbr', 'Primary_Phone_NBR',
       'Phone2_NBR', 'Phone3_NBR', 'Flag']]

In [113]:
dd_M_l

,patientid,membershid,person_nbr,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR,Flag
0,200001,4456.162497,2748.280106,C,O,C,EarD
1,200002,4456.162497,3983.633278,C,O,C,EarD
2,200003,4456.162497,5918.043203,C,O,C,EarD
3,200004,4456.162497,5882.418134,C,O,C,EarD
4,200005,4456.162497,3519.095855,C,O,C,EarD
...,...,...,...,...,...,...,...
84006,284007,61967.640577,6406.791285,C,C,C,Obesity-II
84007,284008,61967.640577,5736.801838,C,C,C,Obesity-II
84008,284009,61967.640577,7613.994822,C,C,C,Obesity-II
84009,284010,61967.640577,8530.577571,C,C,C,Obesity-II
84010,284011,61967.640577,2140.830791,C,C,C,Obesity-II

In [114]:
# rename a column name

In [115]:
dd_M_l.columns=['patientid', 'membershid','person_nbr', 'Primary_Phone_NBR',
       'Phone2_NBR', 'Phone3_NBR', 'groupid']

In [116]:
dd_M_l

,patientid,membershid,person_nbr,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR,groupid
0,200001,4456.162497,2748.280106,C,O,C,EarD
1,200002,4456.162497,3983.633278,C,O,C,EarD
2,200003,4456.162497,5918.043203,C,O,C,EarD
3,200004,4456.162497,5882.418134,C,O,C,EarD
4,200005,4456.162497,3519.095855,C,O,C,EarD
...,...,...,...,...,...,...,...
84006,284007,61967.640577,6406.791285,C,C,C,Obesity-II
84007,284008,61967.640577,5736.801838,C,C,C,Obesity-II
84008,284009,61967.640577,7613.994822,C,C,C,Obesity-II
84009,284010,61967.640577,8530.577571,C,C,C,Obesity-II
84010,284011,61967.640577,2140.830791,C,C,C,Obesity-II

In [117]:
dd_M_l.columns

Index(['patientid', 'membershid', 'person_nbr', 'Primary_Phone_NBR',
       'Phone2_NBR', 'Phone3_NBR', 'groupid'],
      dtype='object')

In [118]:
# create a columns name

In [119]:
dd_M_l["Cellflag"]=""

In [120]:
dd_M_l.columns

Index(['patientid', 'membershid', 'person_nbr', 'Primary_Phone_NBR',
       'Phone2_NBR', 'Phone3_NBR', 'groupid', 'Cellflag'],
      dtype='object')

In [121]:
dd_M_l

,patientid,membershid,person_nbr,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR,groupid,Cellflag
0,200001,4456.162497,2748.280106,C,O,C,EarD,
1,200002,4456.162497,3983.633278,C,O,C,EarD,
2,200003,4456.162497,5918.043203,C,O,C,EarD,
3,200004,4456.162497,5882.418134,C,O,C,EarD,
4,200005,4456.162497,3519.095855,C,O,C,EarD,
...,...,...,...,...,...,...,...,...
84006,284007,61967.640577,6406.791285,C,C,C,Obesity-II,
84007,284008,61967.640577,5736.801838,C,C,C,Obesity-II,
84008,284009,61967.640577,7613.994822,C,C,C,Obesity-II,
84009,284010,61967.640577,8530.577571,C,C,C,Obesity-II,
84010,284011,61967.640577,2140.830791,C,C,C,Obesity-II,

In [122]:
# update cell flag values as p

In [123]:
import numpy as np
dd_M_l["Cellflag"]=np.where(dd_M_l["Primary_Phone_NBR"]=="C","P",dd_M_l["Cellflag"])

In [124]:
dd_M_l.Cellflag.unique()

array(['P', ''], dtype=object)

In [125]:
dd_M_l.Cellflag.value_counts()

P    81589
      2422
Name: Cellflag, dtype: int64

In [126]:
# update cellflag values as s

In [127]:
dd_M_l["Cellflag"]=np.where((dd_M_l['Primary_Phone_NBR']!="C") & (dd_M_l['Phone2_NBR']=="C"),"S",dd_M_l["Cellflag"])

In [128]:
dd_M_l.Cellflag.unique()

array(['P', 'S', ''], dtype=object)

In [129]:
dd_M_l.Cellflag.value_counts()

P    81589
      1874
S      548
Name: Cellflag, dtype: int64

In [130]:
dd_M_l["Cellflag"]=np.where((dd_M_l['Primary_Phone_NBR']!="C") & (dd_M_l['Phone3_NBR']=="C"),"S",dd_M_l["Cellflag"])

In [131]:
dd_M_l.Cellflag.unique()

array(['P', 'S', ''], dtype=object)

In [132]:
dd_M_l.Cellflag.value_counts()

P    81589
S     1810
       612
Name: Cellflag, dtype: int64

In [133]:
# update cell flag values as N

In [134]:
dd_M_l["Cellflag"]=np.where((dd_M_l['Primary_Phone_NBR']!="C") & (dd_M_l['Phone2_NBR']!="C"),"N",dd_M_l["Cellflag"])

In [135]:
dd_M_l.Cellflag.unique()

array(['P', 'S', 'N'], dtype=object)

In [136]:
dd_M_l.Cellflag.value_counts()

P    81589
N     1874
S      548
Name: Cellflag, dtype: int64

In [137]:
dd_M_l["Cellflag"]=np.where((dd_M_l['Primary_Phone_NBR']!="C") & (dd_M_l['Phone3_NBR']!="C"),"N",dd_M_l["Cellflag"])

In [138]:
dd_M_l.Cellflag.unique()

array(['P', 'N'], dtype=object)

In [139]:
dd_M_l.Cellflag.value_counts()

P    81589
N     2422
Name: Cellflag, dtype: int64

In [140]:
dd_M_l

,patientid,membershid,person_nbr,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR,groupid,Cellflag
0,200001,4456.162497,2748.280106,C,O,C,EarD,P
1,200002,4456.162497,3983.633278,C,O,C,EarD,P
2,200003,4456.162497,5918.043203,C,O,C,EarD,P
3,200004,4456.162497,5882.418134,C,O,C,EarD,P
4,200005,4456.162497,3519.095855,C,O,C,EarD,P
...,...,...,...,...,...,...,...,...
84006,284007,61967.640577,6406.791285,C,C,C,Obesity-II,P
84007,284008,61967.640577,5736.801838,C,C,C,Obesity-II,P
84008,284009,61967.640577,7613.994822,C,C,C,Obesity-II,P
84009,284010,61967.640577,8530.577571,C,C,C,Obesity-II,P
84010,284011,61967.640577,2140.830791,C,C,C,Obesity-II,P

In [141]:
# create a column as flag

In [142]:
dd_M_l["Flag"]="Total DDD patients count:"

In [143]:
dd_M_l

,patientid,membershid,person_nbr,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR,groupid,Cellflag,Flag
0,200001,4456.162497,2748.280106,C,O,C,EarD,P,Total DDD patients count:
1,200002,4456.162497,3983.633278,C,O,C,EarD,P,Total DDD patients count:
2,200003,4456.162497,5918.043203,C,O,C,EarD,P,Total DDD patients count:
3,200004,4456.162497,5882.418134,C,O,C,EarD,P,Total DDD patients count:
4,200005,4456.162497,3519.095855,C,O,C,EarD,P,Total DDD patients count:
...,...,...,...,...,...,...,...,...,...
84006,284007,61967.640577,6406.791285,C,C,C,Obesity-II,P,Total DDD patients count:
84007,284008,61967.640577,5736.801838,C,C,C,Obesity-II,P,Total DDD patients count:
84008,284009,61967.640577,7613.994822,C,C,C,Obesity-II,P,Total DDD patients count:
84009,284010,61967.640577,8530.577571,C,C,C,Obesity-II,P,Total DDD patients count:
84010,284011,61967.640577,2140.830791,C,C,C,Obesity-II,P,Total DDD patients count:

In [144]:
dd_M_l.Cellflag.value_counts()

P    81589
N     2422
Name: Cellflag, dtype: int64

In [145]:
# bbb p add merge

In [146]:
dd_M_l_P=dd_M_l[dd_M_l.Cellflag=="P"]

In [147]:
dd_M_l_P["Flag"]="Total DDD patients for cell flag P"

C:\Users\hp\AppData\Local\Temp\ipykernel_16584\4212311883.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dd_M_l_P["Flag"]="Total DDD patients for cell flag P"

In [148]:
# bbb add s merge

In [149]:
dd_M_l_S=dd_M_l[dd_M_l.Cellflag=="S"]

In [150]:
dd_M_l_S["Flag"]="Total DDD patients for cell flag S"

In [151]:
dd_M_l_S

Empty DataFrame
Columns: [patientid, membershid, person_nbr, Primary_Phone_NBR, Phone2_NBR, Phone3_NBR, groupid, Cellflag, Flag]
Index: []

In [152]:
# bbb add N merge

In [153]:
dd_M_l_N=dd_M_l[dd_M_l.Cellflag=="N"]

In [154]:
dd_M_l_N["Flag"]="Total DDD patients for cell flag N"

C:\Users\hp\AppData\Local\Temp\ipykernel_16584\908310300.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dd_M_l_N["Flag"]="Total DDD patients for cell flag N"

In [155]:
dd_M_l_N

,patientid,membershid,person_nbr,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR,groupid,Cellflag,Flag
614,200615,4456.162497,6677.313951,O,C,O,EarD,N,Total DDD patients for cell flag N
615,200616,4456.162497,2462.055205,O,C,O,EarD,N,Total DDD patients for cell flag N
616,200617,4456.162497,3429.345531,O,C,O,EarD,N,Total DDD patients for cell flag N
617,200618,4456.162497,9685.907698,O,C,O,EarD,N,Total DDD patients for cell flag N
618,200619,4456.162497,4297.300386,O,C,O,EarD,N,Total DDD patients for cell flag N
...,...,...,...,...,...,...,...,...,...
3031,203032,11928.016776,2816.560876,H,C,O,EarD,N,Total DDD patients for cell flag N
3032,203033,11928.016776,1722.102601,H,C,O,EarD,N,Total DDD patients for cell flag N
3033,203034,11928.016776,4944.903288,H,C,O,EarD,N,Total DDD patients for cell flag N
3034,203035,11928.016776,8644.975125,H,C,O,EarD,N,Total DDD patients for cell flag N
3035,203036,11928.016776,1595.251060,H,C,O,EarD,N,Total DDD patients for cell flag N

In [156]:
# create a summery reports for flag values total bbb

In [157]:
dd_M_l_sm=dd_M_l.groupby(["Flag"])["patientid"].count()

In [158]:
dd_M_l_sm_ndf=pd.DataFrame(dd_M_l_sm)
dd_M_l_sm_ndf.reset_index(inplace=True)

In [159]:
dd_M_l_sm_ndf

                        Flag  patientid
0  Total DDD patients count:      84011

In [160]:
# create a summery reports by bbb p values

In [161]:
dd_M_l_P_sm=dd_M_l_P.groupby(["Flag"])["patientid"].count()
dd_M_l_P_sm_ndf=pd.DataFrame(dd_M_l_P_sm)
dd_M_l_P_sm_ndf.reset_index(inplace=True)

In [162]:
dd_M_l_P_sm_ndf

                                 Flag  patientid
0  Total DDD patients for cell flag P      81589

In [163]:
# create a summery report by s values

In [164]:
dd_M_l_S_sm=dd_M_l_S.groupby(["Flag"])["patientid"].count()
dd_M_l_S_sm_ndf=pd.DataFrame(dd_M_l_S_sm)
dd_M_l_S_sm_ndf.reset_index(inplace=True)

In [165]:
dd_M_l_S_sm_ndf

Empty DataFrame
Columns: [Flag, patientid]
Index: []

In [166]:
# create a summery report by n values

In [167]:
dd_M_l_N_sm=dd_M_l_N.groupby(["Flag"])["patientid"].count()
dd_M_l_N_sm_ndf=pd.DataFrame(dd_M_l_N_sm)
dd_M_l_N_sm_ndf.reset_index(inplace=True)

In [168]:
dd_M_l_N_sm_ndf

                                 Flag  patientid
0  Total DDD patients for cell flag N       2422

In [169]:
#append all data frames

In [170]:
df_final_ddd=pd.concat([dd_M_l_sm_ndf,dd_M_l_P_sm_ndf,dd_M_l_S_sm_ndf,dd_M_l_N_sm_ndf],ignore_index=True,axis=0)

In [171]:
# import date function

In [172]:
from datetime import date
today=date.today()
print("today=",today)
date=today

today= 2023-08-17

In [173]:
today

datetime.date(2023, 8, 17)

In [174]:
df_final_ddd["Date"]=today

In [175]:
df_final_ddd.columns

Index(['Flag', 'patientid', 'Date'], dtype='object')

In [176]:
# import time function

In [177]:
import time
now=time.localtime()
t=time.strftime("%H :%M :%S",now)
print(t)

12 :02 :36

In [178]:
t

'12 :02 :36'

In [179]:
df_final_ddd["Time"]=t

In [180]:
df_final_ddd.columns

Index(['Flag', 'patientid', 'Date', 'Time'], dtype='object')

In [181]:
df_final_ddd.columns=['Flag', 'Count', 'Date', 'Time']

In [182]:
df_final_ddd.columns

Index(['Flag', 'Count', 'Date', 'Time'], dtype='object')

In [183]:
# final output

In [184]:
df_final_ddd

                                 Flag  Count        Date        Time
0           Total DDD patients count:  84011  2023-08-17  12 :02 :36
1  Total DDD patients for cell flag P  81589  2023-08-17  12 :02 :36
2  Total DDD patients for cell flag N   2422  2023-08-17  12 :02 :36

In [185]:
# sort the data frame

In [186]:
df_ddd_final=df_final_ddd.iloc[:,[2,3,0,1]]

In [187]:
df_ddd_final

         Date        Time                                Flag  Count
0  2023-08-17  12 :02 :36           Total DDD patients count:  84011
1  2023-08-17  12 :02 :36  Total DDD patients for cell flag P  81589
2  2023-08-17  12 :02 :36  Total DDD patients for cell flag N   2422

In [188]:
#**************************** #  bbb patients To check all level wise Patientid, membershipid, groupid **************************

In [189]:
# import bbb patients data

In [190]:
import pandas as pd
df_dd_pati_2=pd.read_excel(r"C:\Users\hp\Downloads\Insurance_Customers.xlsx",sheet_name="BBB_Patients")
df_dd_pati_2

       patientid  membershipid    groupid   person_nbr
0          10001     123456891  Upperbody  2386.041022
1          10002     123456891  Upperbody  7219.568003
2          10003     123456891  Upperbody  1110.167181
3          10004     123456891  Upperbody  4522.639998
4          10005     123456891  Upperbody  7305.192980
...          ...           ...        ...          ...
10114      20115     123456896     Nerves  2985.574310
10115      20116     123456896     Nerves  9698.888692
10116      20117     123456896     Nerves  3305.456074
10117      20118     123456896     Nerves  9179.853623
10118      20119     123456896     Nerves  2048.429434

[10119 rows x 4 columns]

In [191]:
# *******************basic checks

In [192]:
df_dd_pati_2.shape

(10119, 4)

In [193]:
df_dd_pati_2.columns

Index(['patientid', 'membershipid', 'groupid', 'person_nbr'], dtype='object')

In [194]:
df_dd_pati_2.head()

   patientid  membershipid    groupid   person_nbr
0      10001     123456891  Upperbody  2386.041022
1      10002     123456891  Upperbody  7219.568003
2      10003     123456891  Upperbody  1110.167181
3      10004     123456891  Upperbody  4522.639998
4      10005     123456891  Upperbody  7305.192980

In [195]:
df_dd_pati_2.tail()

       patientid  membershipid groupid   person_nbr
10114      20115     123456896  Nerves  2985.574310
10115      20116     123456896  Nerves  9698.888692
10116      20117     123456896  Nerves  3305.456074
10117      20118     123456896  Nerves  9179.853623
10118      20119     123456896  Nerves  2048.429434

In [196]:
# ************** import ddd address file

In [197]:
df_bb_address_2=pd.read_excel(r"C:\Users\hp\Downloads\Insurance_Customers.xlsx",sheet_name="BBB_Address")
df_bb_address_2

,patientid,membershipid,groupid,person_nbr,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR
0,10001,123456891,Upperbody,2.386041e+03,C,O,C
1,10002,123456891,Upperbody,7.219568e+03,C,O,C
2,10003,123456891,Upperbody,1.110167e+03,C,O,C
3,10004,123456891,Upperbody,4.522640e+03,C,O,C
4,10005,123456891,Upperbody,7.305193e+03,C,O,C
...,...,...,...,...,...,...,...
15989,25990,28862324,EarD,1.149511e+07,C,H,C
15990,25991,46570001,EarD,8.241271e+06,C,H,C
15991,25992,26399463,EarD,1.021972e+06,C,H,C
15992,25993,63512490,EarD,8.382799e+06,C,H,C
15993,25994,30518036,EarD,1.074175e+07,C,H,C

In [198]:
#************** basic checks

In [199]:
df_bb_address_2.shape

(15994, 7)

In [200]:
df_bb_address_2.columns

Index(['patientid', 'membershipid', 'groupid', 'person_nbr',
       'Primary_Phone_NBR', 'Phone2_NBR', 'Phone3_NBR'],
      dtype='object')

In [201]:
df_bb_address_2.head()

,patientid,membershipid,groupid,person_nbr,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR
0,10001,123456891,Upperbody,2386.041022,C,O,C
1,10002,123456891,Upperbody,7219.568003,C,O,C
2,10003,123456891,Upperbody,1110.167181,C,O,C
3,10004,123456891,Upperbody,4522.639998,C,O,C
4,10005,123456891,Upperbody,7305.192980,C,O,C

In [202]:
df_bb_address_2.tail()

,patientid,membershipid,groupid,person_nbr,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR
15989,25990,28862324,EarD,1.149511e+07,C,H,C
15990,25991,46570001,EarD,8.241271e+06,C,H,C
15991,25992,26399463,EarD,1.021972e+06,C,H,C
15992,25993,63512490,EarD,8.382799e+06,C,H,C
15993,25994,30518036,EarD,1.074175e+07,C,H,C

In [203]:
# *************** left join

In [204]:
df_pati_add_merg2=df_dd_pati_2.merge(df_bb_address_2,how="left",on=['patientid', 'membershipid', 'groupid'])
df_pati_add_merg2

,patientid,membershipid,groupid,person_nbr_x,person_nbr_y,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR
0,10001,123456891,Upperbody,2386.041022,2386.041022,C,O,C
1,10002,123456891,Upperbody,7219.568003,7219.568003,C,O,C
2,10003,123456891,Upperbody,1110.167181,1110.167181,C,O,C
3,10004,123456891,Upperbody,4522.639998,4522.639998,C,O,C
4,10005,123456891,Upperbody,7305.192980,7305.192980,C,O,C
...,...,...,...,...,...,...,...,...
10114,20115,123456896,Nerves,2985.574310,2985.574310,C,H,C
10115,20116,123456896,Nerves,9698.888692,9698.888692,C,H,C
10116,20117,123456896,Nerves,3305.456074,3305.456074,C,H,C
10117,20118,123456896,Nerves,9179.853623,9179.853623,C,H,C
10118,20119,123456896,Nerves,2048.429434,2048.429434,C,H,C

In [205]:
df_pati_add_merg2.columns

Index(['patientid', 'membershipid', 'groupid', 'person_nbr_x', 'person_nbr_y',
       'Primary_Phone_NBR', 'Phone2_NBR', 'Phone3_NBR'],
      dtype='object')

In [206]:
df_pati_add_merg2.head()

,patientid,membershipid,groupid,person_nbr_x,person_nbr_y,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR
0,10001,123456891,Upperbody,2386.041022,2386.041022,C,O,C
1,10002,123456891,Upperbody,7219.568003,7219.568003,C,O,C
2,10003,123456891,Upperbody,1110.167181,1110.167181,C,O,C
3,10004,123456891,Upperbody,4522.639998,4522.639998,C,O,C
4,10005,123456891,Upperbody,7305.192980,7305.192980,C,O,C

In [207]:
df_pati_add_merg2.tail()

,patientid,membershipid,groupid,person_nbr_x,person_nbr_y,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR
10114,20115,123456896,Nerves,2985.574310,2985.574310,C,H,C
10115,20116,123456896,Nerves,9698.888692,9698.888692,C,H,C
10116,20117,123456896,Nerves,3305.456074,3305.456074,C,H,C
10117,20118,123456896,Nerves,9179.853623,9179.853623,C,H,C
10118,20119,123456896,Nerves,2048.429434,2048.429434,C,H,C

In [208]:
############### adding a new column

In [209]:
df_pati_add_merg2["Cellflag"]=""

In [210]:
df_pati_add_merg2.columns

Index(['patientid', 'membershipid', 'groupid', 'person_nbr_x', 'person_nbr_y',
       'Primary_Phone_NBR', 'Phone2_NBR', 'Phone3_NBR', 'Cellflag'],
      dtype='object')

In [211]:
# updatinga cell flag  c  as p

In [212]:
import numpy as np
df_pati_add_merg2['Cellflag']=np.where(df_pati_add_merg2['Primary_Phone_NBR']=="C","P",df_pati_add_merg2['Cellflag'])

In [213]:
df_pati_add_merg2.Cellflag.unique()

array(['P', ''], dtype=object)

In [214]:
df_pati_add_merg2.Cellflag.value_counts()

     6372
P    3747
Name: Cellflag, dtype: int64

In [215]:
  # updating cellflag  as s

In [216]:
df_pati_add_merg2['Cellflag']=np.where((df_pati_add_merg2['Primary_Phone_NBR']!="C") & 
                                       (df_pati_add_merg2['Phone2_NBR']=="C"),"S",df_pati_add_merg2['Cellflag'])

In [217]:
df_pati_add_merg2['Cellflag']=np.where((df_pati_add_merg2['Primary_Phone_NBR']!="C") & 
                                       (df_pati_add_merg2['Phone3_NBR']=="C"),"S",df_pati_add_merg2['Cellflag'])

In [218]:
df_pati_add_merg2.Cellflag.value_counts()

S    5590
P    3747
      782
Name: Cellflag, dtype: int64

In [219]:
# updating cell flag as N

In [220]:
df_pati_add_merg2['Cellflag']=np.where((df_pati_add_merg2['Primary_Phone_NBR']!="C") & 
                                       (df_pati_add_merg2['Phone3_NBR']!="C"),"N",df_pati_add_merg2['Cellflag'])

In [221]:
df_pati_add_merg2['Cellflag']=np.where((df_pati_add_merg2['Primary_Phone_NBR']!="C") & 
                                       (df_pati_add_merg2['Phone2_NBR']!="C"),"N",df_pati_add_merg2['Cellflag'])

In [222]:
df_pati_add_merg2.Cellflag.unique()

array(['P', 'N', 'S'], dtype=object)

In [223]:
df_pati_add_merg2.Cellflag.value_counts()

N    6371
P    3747
S       1
Name: Cellflag, dtype: int64

In [224]:
df_pati_add_merg2['Flag']="Total BBB patients"

In [225]:
#bbb_p_add_merge_P=bbb_p_add_merge[bbb_p_add_merge.Cell_Flag=="P"]
df_pati_add_merg2_p=df_pati_add_merg2[df_pati_add_merg2.Cellflag=="P"]

In [226]:
df_pati_add_merg2_p["Flag"]="Total BBB patients for cell flag P"

C:\Users\hp\AppData\Local\Temp\ipykernel_16584\622081601.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pati_add_merg2_p["Flag"]="Total BBB patients for cell flag P"

In [227]:
#bbb_p_add_merge_S=bbb_p_add_merge[bbb_p_add_merge.Cell_Flag=="S"]
df_pati_add_merg2_S=df_pati_add_merg2[df_pati_add_merg2.Cellflag=="S"]
df_pati_add_merg2_S["Flag"]="Total BBB patients for cell flag S"

C:\Users\hp\AppData\Local\Temp\ipykernel_16584\1256459819.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pati_add_merg2_S["Flag"]="Total BBB patients for cell flag S"

In [228]:
#bbb_p_add_merge_N=bbb_p_add_merge[bbb_p_add_merge.Cell_Flag=="N"]
df_pati_add_merg2_N=df_pati_add_merg2[df_pati_add_merg2.Cellflag=="N"]
df_pati_add_merg2_N["Flag"]="Total BBB patients for cell flag N"

C:\Users\hp\AppData\Local\Temp\ipykernel_16584\3436611553.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pati_add_merg2_N["Flag"]="Total BBB patients for cell flag N"

In [229]:
df_pati_add_merg2.head()

,patientid,membershipid,groupid,person_nbr_x,person_nbr_y,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR,Cellflag,Flag
0,10001,123456891,Upperbody,2386.041022,2386.041022,C,O,C,P,Total BBB patients
1,10002,123456891,Upperbody,7219.568003,7219.568003,C,O,C,P,Total BBB patients
2,10003,123456891,Upperbody,1110.167181,1110.167181,C,O,C,P,Total BBB patients
3,10004,123456891,Upperbody,4522.639998,4522.639998,C,O,C,P,Total BBB patients
4,10005,123456891,Upperbody,7305.192980,7305.192980,C,O,C,P,Total BBB patients

In [230]:
df_pati_add_merg2_p.head()

,patientid,membershipid,groupid,person_nbr_x,person_nbr_y,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR,Cellflag,Flag
0,10001,123456891,Upperbody,2386.041022,2386.041022,C,O,C,P,Total BBB patients for cell flag P
1,10002,123456891,Upperbody,7219.568003,7219.568003,C,O,C,P,Total BBB patients for cell flag P
2,10003,123456891,Upperbody,1110.167181,1110.167181,C,O,C,P,Total BBB patients for cell flag P
3,10004,123456891,Upperbody,4522.639998,4522.639998,C,O,C,P,Total BBB patients for cell flag P
4,10005,123456891,Upperbody,7305.192980,7305.192980,C,O,C,P,Total BBB patients for cell flag P

In [231]:
df_pati_add_merg2_S.head()

,patientid,membershipid,groupid,person_nbr_x,person_nbr_y,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR,Cellflag,Flag
7117,17118,123456895,Obesity,1969.190691,1969.190691,O,C,C,S,Total BBB patients for cell flag S

In [232]:
df_pati_add_merg2_N.head()

,patientid,membershipid,groupid,person_nbr_x,person_nbr_y,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR,Cellflag,Flag
614,10615,123456891,Lowerbody,3303.046210,3303.046210,O,C,O,N,Total BBB patients for cell flag N
615,10616,123456891,Lowerbody,4080.627852,4080.627852,O,C,O,N,Total BBB patients for cell flag N
616,10617,123456891,Lowerbody,4888.358478,4888.358478,O,C,O,N,Total BBB patients for cell flag N
617,10618,123456891,Lowerbody,9764.582779,9764.582779,O,C,O,N,Total BBB patients for cell flag N
618,10619,123456891,Lowerbody,7557.726735,7557.726735,O,C,O,N,Total BBB patients for cell flag N

In [233]:
df_pati_add_merg2_sm=df_pati_add_merg2.groupby(["Flag"])["patientid"].count()
df_pati_add_merg2_sm_ndf=pd.DataFrame(df_pati_add_merg2_sm)
df_pati_add_merg2_sm_ndf.reset_index(inplace=True)

In [234]:
df_pati_add_merg2_sm_ndf

                 Flag  patientid
0  Total BBB patients      10119

In [235]:
df_pati_add_merg2_p_sm=df_pati_add_merg2_p.groupby(["Flag"])["patientid"].count()
df_pati_add_merg2_p_sm.ndf=pd.DataFrame(df_pati_add_merg2_p_sm)
df_pati_add_merg2_p_sm.ndf.reset_index(inplace=True)

In [236]:
df_pati_add_merg2_p_sm.ndf

                                 Flag  patientid
0  Total BBB patients for cell flag P       3747

In [237]:
df_pati_add_merg2_S_sm=df_pati_add_merg2_S.groupby(["Flag"])["patientid"].count()
df_pati_add_merg2_S_sm_ndf=pd.DataFrame(df_pati_add_merg2_S_sm)
df_pati_add_merg2_S_sm_ndf.reset_index(inplace=True)

In [238]:
df_pati_add_merg2_S_sm_ndf

                                 Flag  patientid
0  Total BBB patients for cell flag S          1

In [239]:
df_pati_add_merg2_N_sm=df_pati_add_merg2_N.groupby(["Flag"])["patientid"].count()
df_pati_add_merg2_N_sm_ndf=pd.DataFrame(df_pati_add_merg2_N_sm)
df_pati_add_merg2_N_sm_ndf.reset_index(inplace=True)

In [240]:
df_pati_add_merg2_N_sm_ndf

                                 Flag  patientid
0  Total BBB patients for cell flag N       6371

In [241]:
final_dataframe1=pd.concat([df_pati_add_merg2_sm_ndf,df_pati_add_merg2_p_sm.ndf,df_pati_add_merg2_S_sm_ndf,df_pati_add_merg2_N_sm_ndf],ignore_index=True,axis=0)

In [242]:
final_dataframe1.columns=["Flag","Count"]

In [243]:
final_dataframe1

                                 Flag  Count
0                  Total BBB patients  10119
1  Total BBB patients for cell flag P   3747
2  Total BBB patients for cell flag S      1
3  Total BBB patients for cell flag N   6371

In [244]:
from datetime import date
today=date.today()
print("today=",today)
date=today

today= 2023-08-17

In [245]:
import time
now=time.localtime()
t=time.strftime("%H :%M :%S",now)
print(t)

12 :02 :43

In [246]:
final_dataframe1["Date"]=today

In [247]:
final_dataframe1

                                 Flag  Count        Date
0                  Total BBB patients  10119  2023-08-17
1  Total BBB patients for cell flag P   3747  2023-08-17
2  Total BBB patients for cell flag S      1  2023-08-17
3  Total BBB patients for cell flag N   6371  2023-08-17

In [248]:
final_dataframe1["Time"]=t

In [249]:
final_dataframe1

                                 Flag  Count        Date        Time
0                  Total BBB patients  10119  2023-08-17  12 :02 :43
1  Total BBB patients for cell flag P   3747  2023-08-17  12 :02 :43
2  Total BBB patients for cell flag S      1  2023-08-17  12 :02 :43
3  Total BBB patients for cell flag N   6371  2023-08-17  12 :02 :43

In [250]:
# sort the column names

In [251]:
df_bbb1=final_dataframe1.iloc[:,[2,3,0,1]]

In [252]:
df_bbb1

         Date        Time                                Flag  Count
0  2023-08-17  12 :02 :43                  Total BBB patients  10119
1  2023-08-17  12 :02 :43  Total BBB patients for cell flag P   3747
2  2023-08-17  12 :02 :43  Total BBB patients for cell flag S      1
3  2023-08-17  12 :02 :43  Total BBB patients for cell flag N   6371

In [253]:
#**************************** #  ddd patients To check all level wise Patientid, membershipid, groupid **************************

In [254]:
#********************* #import ddd patients file

In [365]:
import pandas as pd
df_ddd_pati2=pd.read_excel(r"C:\Users\hp\Downloads\Insurance_Customers.xlsx",sheet_name="DDD_Patients")
df_ddd_pati2

       patientid    membershid  groupid   person_nbr
0         200001   4456.162497      100  2748.280106
1         200002   4456.162497      100  3983.633278
2         200003   4456.162497      100  5918.043203
3         200004   4456.162497      100  5882.418134
4         200005   4456.162497      100  3519.095855
...          ...           ...      ...          ...
84006     284007  61967.640577      108  6406.791285
84007     284008  61967.640577      108  5736.801838
84008     284009  61967.640577      108  7613.994822
84009     284010  61967.640577      108  8530.577571
84010     284011  61967.640577      108  2140.830791

[84011 rows x 4 columns]

In [366]:
#************* # basic checks

In [367]:
df_ddd_pati2.shape

(84011, 4)

In [368]:
df_ddd_pati2.columns

Index(['patientid', 'membershid', 'groupid', 'person_nbr'], dtype='object')

In [369]:
df_ddd_pati2.head()

   patientid   membershid  groupid   person_nbr
0     200001  4456.162497      100  2748.280106
1     200002  4456.162497      100  3983.633278
2     200003  4456.162497      100  5918.043203
3     200004  4456.162497      100  5882.418134
4     200005  4456.162497      100  3519.095855

In [370]:
df_ddd_pati2.tail()

       patientid    membershid  groupid   person_nbr
84006     284007  61967.640577      108  6406.791285
84007     284008  61967.640577      108  5736.801838
84008     284009  61967.640577      108  7613.994822
84009     284010  61967.640577      108  8530.577571
84010     284011  61967.640577      108  2140.830791

In [371]:
#****************** # import ddd  address file

In [372]:
df_ddd_add2=pd.read_excel(r"C:\Users\hp\Downloads\Insurance_Customers.xlsx",sheet_name="DDD_Address")
df_ddd_add2

,patientid,membershid,groupid,person_nbr,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR
0,200001,4456.162497,100,2748.280106,C,O,C
1,200002,4456.162497,100,3983.633278,C,O,C
2,200003,4456.162497,100,5918.043203,C,O,C
3,200004,4456.162497,100,5882.418134,C,O,C
4,200005,4456.162497,100,3519.095855,C,O,C
...,...,...,...,...,...,...,...
84006,284007,61967.640577,108,6406.791285,C,C,C
84007,284008,61967.640577,108,5736.801838,C,C,C
84008,284009,61967.640577,108,7613.994822,C,C,C
84009,284010,61967.640577,108,8530.577571,C,C,C
84010,284011,61967.640577,108,2140.830791,C,C,C

In [373]:
#**************# basic checks

In [374]:
df_ddd_add2.shape

(84011, 7)

In [375]:
df_ddd_add2.columns

Index(['patientid', 'membershid', 'groupid', 'person_nbr', 'Primary_Phone_NBR',
       'Phone2_NBR', 'Phone3_NBR'],
      dtype='object')

In [376]:
df_ddd_add2.head()

,patientid,membershid,groupid,person_nbr,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR
0,200001,4456.162497,100,2748.280106,C,O,C
1,200002,4456.162497,100,3983.633278,C,O,C
2,200003,4456.162497,100,5918.043203,C,O,C
3,200004,4456.162497,100,5882.418134,C,O,C
4,200005,4456.162497,100,3519.095855,C,O,C

In [377]:
df_ddd_add2.tail()

,patientid,membershid,groupid,person_nbr,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR
84006,284007,61967.640577,108,6406.791285,C,C,C
84007,284008,61967.640577,108,5736.801838,C,C,C
84008,284009,61967.640577,108,7613.994822,C,C,C
84009,284010,61967.640577,108,8530.577571,C,C,C
84010,284011,61967.640577,108,2140.830791,C,C,C

In [378]:
#***************** # left join

In [379]:
df_pati_add_merg2=df_ddd_pati2.merge(df_ddd_add2,how="left",on=['patientid', 'membershid', 'groupid'])
df_pati_add_merg2

,patientid,membershid,groupid,person_nbr_x,person_nbr_y,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR
0,200001,4456.162497,100,2748.280106,2748.280106,C,O,C
1,200002,4456.162497,100,3983.633278,3983.633278,C,O,C
2,200003,4456.162497,100,5918.043203,5918.043203,C,O,C
3,200004,4456.162497,100,5882.418134,5882.418134,C,O,C
4,200005,4456.162497,100,3519.095855,3519.095855,C,O,C
...,...,...,...,...,...,...,...,...
84006,284007,61967.640577,108,6406.791285,6406.791285,C,C,C
84007,284008,61967.640577,108,5736.801838,5736.801838,C,C,C
84008,284009,61967.640577,108,7613.994822,7613.994822,C,C,C
84009,284010,61967.640577,108,8530.577571,8530.577571,C,C,C
84010,284011,61967.640577,108,2140.830791,2140.830791,C,C,C

In [380]:
df_pati_add_merg2.head()

,patientid,membershid,groupid,person_nbr_x,person_nbr_y,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR
0,200001,4456.162497,100,2748.280106,2748.280106,C,O,C
1,200002,4456.162497,100,3983.633278,3983.633278,C,O,C
2,200003,4456.162497,100,5918.043203,5918.043203,C,O,C
3,200004,4456.162497,100,5882.418134,5882.418134,C,O,C
4,200005,4456.162497,100,3519.095855,3519.095855,C,O,C

In [381]:
df_pati_add_merg2.tail()

,patientid,membershid,groupid,person_nbr_x,person_nbr_y,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR
84006,284007,61967.640577,108,6406.791285,6406.791285,C,C,C
84007,284008,61967.640577,108,5736.801838,5736.801838,C,C,C
84008,284009,61967.640577,108,7613.994822,7613.994822,C,C,C
84009,284010,61967.640577,108,8530.577571,8530.577571,C,C,C
84010,284011,61967.640577,108,2140.830791,2140.830791,C,C,C

In [382]:
# import dd flags

In [383]:
import pandas as pd
df_ddd_flags2=pd.read_excel(r"C:\Users\hp\Downloads\Insurance_Customers.xlsx",sheet_name="DDD_Flag")
df_ddd_flags2

   groupid        Flag
0      100        EarD
1      102       EyesD
2      103     Nervers
3      105       KneeF
4      106      SpineF
5      107     Obesity
6      108  Obesity-II

In [384]:
# left join dd patients and dd flags

In [385]:
df_merg_flags=df_pati_add_merg2.merge(df_ddd_flags2,how="left",on="groupid")
df_merg_flags

,patientid,membershid,groupid,person_nbr_x,person_nbr_y,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR,Flag
0,200001,4456.162497,100,2748.280106,2748.280106,C,O,C,EarD
1,200002,4456.162497,100,3983.633278,3983.633278,C,O,C,EarD
2,200003,4456.162497,100,5918.043203,5918.043203,C,O,C,EarD
3,200004,4456.162497,100,5882.418134,5882.418134,C,O,C,EarD
4,200005,4456.162497,100,3519.095855,3519.095855,C,O,C,EarD
...,...,...,...,...,...,...,...,...,...
84006,284007,61967.640577,108,6406.791285,6406.791285,C,C,C,Obesity-II
84007,284008,61967.640577,108,5736.801838,5736.801838,C,C,C,Obesity-II
84008,284009,61967.640577,108,7613.994822,7613.994822,C,C,C,Obesity-II
84009,284010,61967.640577,108,8530.577571,8530.577571,C,C,C,Obesity-II
84010,284011,61967.640577,108,2140.830791,2140.830791,C,C,C,Obesity-II

In [386]:
df_merg_flags.columns

Index(['patientid', 'membershid', 'groupid', 'person_nbr_x', 'person_nbr_y',
       'Primary_Phone_NBR', 'Phone2_NBR', 'Phone3_NBR', 'Flag'],
      dtype='object')

In [387]:
##**************** remove a columns

In [388]:
df_merg_flags1=df_merg_flags[['patientid', 'membershid', 'person_nbr_x', 'person_nbr_y',
       'Primary_Phone_NBR', 'Phone2_NBR', 'Phone3_NBR', 'Flag']]

In [389]:
df_merg_flags1.columns

Index(['patientid', 'membershid', 'person_nbr_x', 'person_nbr_y',
       'Primary_Phone_NBR', 'Phone2_NBR', 'Phone3_NBR', 'Flag'],
      dtype='object')

In [390]:
#*********add column name

In [391]:
df_merg_flags1["Cellflag"]=" "

In [392]:
df_merg_flags1.columns

Index(['patientid', 'membershid', 'person_nbr_x', 'person_nbr_y',
       'Primary_Phone_NBR', 'Phone2_NBR', 'Phone3_NBR', 'Flag', 'Cellflag'],
      dtype='object')

In [393]:
df_merg_flags1

,patientid,membershid,person_nbr_x,person_nbr_y,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR,Flag,Cellflag
0,200001,4456.162497,2748.280106,2748.280106,C,O,C,EarD,
1,200002,4456.162497,3983.633278,3983.633278,C,O,C,EarD,
2,200003,4456.162497,5918.043203,5918.043203,C,O,C,EarD,
3,200004,4456.162497,5882.418134,5882.418134,C,O,C,EarD,
4,200005,4456.162497,3519.095855,3519.095855,C,O,C,EarD,
...,...,...,...,...,...,...,...,...,...
84006,284007,61967.640577,6406.791285,6406.791285,C,C,C,Obesity-II,
84007,284008,61967.640577,5736.801838,5736.801838,C,C,C,Obesity-II,
84008,284009,61967.640577,7613.994822,7613.994822,C,C,C,Obesity-II,
84009,284010,61967.640577,8530.577571,8530.577571,C,C,C,Obesity-II,
84010,284011,61967.640577,2140.830791,2140.830791,C,C,C,Obesity-II,

In [394]:
# rename a column name

In [395]:
df_merg_flags1.columns=['patientid', 'membershid', 'person_nbr_x', 'person_nbr_y',
       'Primary_Phone_NBR', 'Phone2_NBR', 'Phone3_NBR', 'groupid', 'Cellflag']

In [396]:
df_merg_flags1

,patientid,membershid,person_nbr_x,person_nbr_y,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR,groupid,Cellflag
0,200001,4456.162497,2748.280106,2748.280106,C,O,C,EarD,
1,200002,4456.162497,3983.633278,3983.633278,C,O,C,EarD,
2,200003,4456.162497,5918.043203,5918.043203,C,O,C,EarD,
3,200004,4456.162497,5882.418134,5882.418134,C,O,C,EarD,
4,200005,4456.162497,3519.095855,3519.095855,C,O,C,EarD,
...,...,...,...,...,...,...,...,...,...
84006,284007,61967.640577,6406.791285,6406.791285,C,C,C,Obesity-II,
84007,284008,61967.640577,5736.801838,5736.801838,C,C,C,Obesity-II,
84008,284009,61967.640577,7613.994822,7613.994822,C,C,C,Obesity-II,
84009,284010,61967.640577,8530.577571,8530.577571,C,C,C,Obesity-II,
84010,284011,61967.640577,2140.830791,2140.830791,C,C,C,Obesity-II,

In [397]:
# update cellflag values

In [398]:
import numpy as np
df_merg_flags1["Cellflag"]=np.where(df_merg_flags1['Primary_Phone_NBR']=="C","P",df_merg_flags1["Cellflag"])

In [399]:
df_merg_flags1.Cellflag.unique()

array(['P', ' '], dtype=object)

In [400]:
df_merg_flags1.Cellflag.value_counts()

P    81589
      2422
Name: Cellflag, dtype: int64

In [401]:
#*********************** # updating cell flasg as s

In [402]:
df_merg_flags1["Cellflag"]=np.where((df_merg_flags1['Primary_Phone_NBR']!="C") & (df_merg_flags1['Phone2_NBR']=="C"), "S",df_merg_flags1["Cellflag"])

In [403]:
df_merg_flags1["Cellflag"]=np.where((df_merg_flags1['Primary_Phone_NBR']!="C") & (df_merg_flags1['Phone3_NBR']=="C"), "S",df_merg_flags1["Cellflag"])

In [404]:
df_merg_flags1.Cellflag.unique()

array(['P', 'S', ' '], dtype=object)

In [405]:
df_merg_flags1.Cellflag.value_counts()

P    81589
S     1810
       612
Name: Cellflag, dtype: int64

In [406]:
#********************* # updating cell flag as N

In [407]:
df_merg_flags1["Cellflag"]=np.where((df_merg_flags1['Primary_Phone_NBR']!="C") & (df_merg_flags1['Phone2_NBR']!="C"), "N",df_merg_flags1["Cellflag"])

In [408]:
df_merg_flags1["Cellflag"]=np.where((df_merg_flags1['Primary_Phone_NBR']!="C") & (df_merg_flags1['Phone3_NBR']!="C"), "N",df_merg_flags1["Cellflag"])

In [409]:
df_merg_flags1.Cellflag.unique()

array(['P', 'N'], dtype=object)

In [410]:
df_merg_flags1.Cellflag.value_counts()

P    81589
N     2422
Name: Cellflag, dtype: int64

In [411]:
#**************** # create a new column

In [412]:
df_merg_flags1['Flag']="Total DDD patients"

In [413]:
df_merg_flags1.columns

Index(['patientid', 'membershid', 'person_nbr_x', 'person_nbr_y',
       'Primary_Phone_NBR', 'Phone2_NBR', 'Phone3_NBR', 'groupid', 'Cellflag',
       'Flag'],
      dtype='object')

In [414]:
df_merg_flags1_p=df_merg_flags1[df_merg_flags1.Cellflag=="P"]

In [415]:
df_merg_flags1_p["Flag"]="Total DDD patients for cell flag P"

C:\Users\hp\AppData\Local\Temp\ipykernel_16584\139780631.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merg_flags1_p["Flag"]="Total DDD patients for cell flag P"

In [416]:
df_merg_flags1_S=df_merg_flags1[df_merg_flags1.Cellflag=="S"]

In [417]:
df_merg_flags1_S["Flag"]="Total DDD patients for cell flag S"

In [418]:
# update cell flag values as N

In [419]:
df_merg_flags1_N=df_merg_flags1[df_merg_flags1.Cellflag=="N"]

In [420]:
df_merg_flags1_N["Flag"]="Total DDD patients for cell flag N"

C:\Users\hp\AppData\Local\Temp\ipykernel_16584\393705257.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merg_flags1_N["Flag"]="Total DDD patients for cell flag N"

In [421]:
df_merg_flags1.head()

,patientid,membershid,person_nbr_x,person_nbr_y,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR,groupid,Cellflag,Flag
0,200001,4456.162497,2748.280106,2748.280106,C,O,C,EarD,P,Total DDD patients
1,200002,4456.162497,3983.633278,3983.633278,C,O,C,EarD,P,Total DDD patients
2,200003,4456.162497,5918.043203,5918.043203,C,O,C,EarD,P,Total DDD patients
3,200004,4456.162497,5882.418134,5882.418134,C,O,C,EarD,P,Total DDD patients
4,200005,4456.162497,3519.095855,3519.095855,C,O,C,EarD,P,Total DDD patients

In [422]:
df_merg_flags1_p.head()

,patientid,membershid,person_nbr_x,person_nbr_y,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR,groupid,Cellflag,Flag
0,200001,4456.162497,2748.280106,2748.280106,C,O,C,EarD,P,Total DDD patients for cell flag P
1,200002,4456.162497,3983.633278,3983.633278,C,O,C,EarD,P,Total DDD patients for cell flag P
2,200003,4456.162497,5918.043203,5918.043203,C,O,C,EarD,P,Total DDD patients for cell flag P
3,200004,4456.162497,5882.418134,5882.418134,C,O,C,EarD,P,Total DDD patients for cell flag P
4,200005,4456.162497,3519.095855,3519.095855,C,O,C,EarD,P,Total DDD patients for cell flag P

In [423]:
df_merg_flags1_S.head()

Empty DataFrame
Columns: [patientid, membershid, person_nbr_x, person_nbr_y, Primary_Phone_NBR, Phone2_NBR, Phone3_NBR, groupid, Cellflag, Flag]
Index: []

In [424]:
df_merg_flags1_N.head()

,patientid,membershid,person_nbr_x,person_nbr_y,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR,groupid,Cellflag,Flag
614,200615,4456.162497,6677.313951,6677.313951,O,C,O,EarD,N,Total DDD patients for cell flag N
615,200616,4456.162497,2462.055205,2462.055205,O,C,O,EarD,N,Total DDD patients for cell flag N
616,200617,4456.162497,3429.345531,3429.345531,O,C,O,EarD,N,Total DDD patients for cell flag N
617,200618,4456.162497,9685.907698,9685.907698,O,C,O,EarD,N,Total DDD patients for cell flag N
618,200619,4456.162497,4297.300386,4297.300386,O,C,O,EarD,N,Total DDD patients for cell flag N

In [425]:
#**************** # creating summery reports

In [426]:
df_merg_flags1_sm=df_merg_flags1.groupby(["Flag"])["patientid"].count()
df_merg_flags1_sm_ndf=pd.DataFrame(df_merg_flags1_sm)
df_merg_flags1_sm_ndf.reset_index(inplace=True)

In [427]:
df_merg_flags1_sm_ndf

                 Flag  patientid
0  Total DDD patients      84011

In [435]:
df_merg_flags1_p_sm=df_merg_flags1_p.groupby(["Flag"])["patientid"].count()
df_merg_flags1_p_sm_ndf=pd.DataFrame(df_merg_flags1_p_sm)
df_merg_flags1_p_sm_ndf.reset_index(inplace=True)

In [436]:
df_merg_flags1_p_sm_ndf

                                 Flag  patientid
0  Total DDD patients for cell flag P      81589

In [439]:
df_merg_flags1_S_sm=df_merg_flags1_S.groupby(["Flag"])["patientid"].count()
df_merg_flags1_S_sm_ndf=pd.DataFrame(df_merg_flags1_S_sm)
df_merg_flags1_S_sm_ndf.reset_index(inplace=True)

In [440]:
df_merg_flags1_S_sm_ndf

Empty DataFrame
Columns: [Flag, patientid]
Index: []

In [443]:
df_merg_flags1_N_sm=df_merg_flags1_N.groupby(["Flag"])["patientid"].count()
df_merg_flags1_N_sm_ndf=pd.DataFrame(df_merg_flags1_N_sm)
df_merg_flags1_N_sm_ndf.reset_index(inplace=True)

In [444]:
df_merg_flags1_N_sm_ndf

                                 Flag  patientid
0  Total DDD patients for cell flag N       2422

In [324]:
 #*************** # Append

In [445]:
final_dataframe5=pd.concat([df_merg_flags1_sm_ndf,df_merg_flags1_p_sm_ndf,df_merg_flags1_S_sm_ndf,df_merg_flags1_N_sm_ndf],ignore_index=True,axis=0)

In [446]:
final_dataframe5.columns=["Flag","Count"]

In [447]:
final_dataframe5

                                 Flag  Count
0                  Total DDD patients  84011
1  Total DDD patients for cell flag P  81589
2  Total DDD patients for cell flag N   2422

In [448]:
# import date function

In [450]:
from datetime import date
today=date.today()
print("today=",today)
date=today

today= 2023-08-17

In [451]:
today

datetime.date(2023, 8, 17)

In [452]:
final_dataframe5["Date"]=today

In [453]:
final_dataframe5

                                 Flag  Count        Date
0                  Total DDD patients  84011  2023-08-17
1  Total DDD patients for cell flag P  81589  2023-08-17
2  Total DDD patients for cell flag N   2422  2023-08-17

In [454]:
# import time function

In [455]:
import time
now=time.localtime()
t=time.strftime("%H :%M :%S",now)
print(t)

12 :15 :17

In [456]:
t

'12 :15 :17'

In [457]:
final_dataframe5["Time"]=t

In [458]:
final_dataframe5

                                 Flag  Count        Date        Time
0                  Total DDD patients  84011  2023-08-17  12 :15 :17
1  Total DDD patients for cell flag P  81589  2023-08-17  12 :15 :17
2  Total DDD patients for cell flag N   2422  2023-08-17  12 :15 :17

In [459]:
final_dataframe5.columns

Index(['Flag', 'Count', 'Date', 'Time'], dtype='object')

In [460]:
# sort the column name

In [461]:
df_ddd1=final_dataframe5.iloc[:,[2,3,0,1]]

In [462]:
df_ddd1

         Date        Time                                Flag  Count
0  2023-08-17  12 :15 :17                  Total DDD patients  84011
1  2023-08-17  12 :15 :17  Total DDD patients for cell flag P  81589
2  2023-08-17  12 :15 :17  Total DDD patients for cell flag N   2422

In [463]:
# append all data frames

In [464]:
final_df=pd.concat([df_bbb_f,df_ddd_final,df_bbb1,df_ddd1],ignore_index=True,axis=0)

In [465]:
final_df

          Date        Time                                Flag  Count
0   2023-08-17  12 :02 :07           Total BBB patients count:  10119
1   2023-08-17  12 :02 :07  Total BBB patients for cell flag P   3747
2   2023-08-17  12 :02 :07  Total BBB patients for cell flag S      1
3   2023-08-17  12 :02 :07  Total BBB patients for cell flag N   6371
4   2023-08-17  12 :02 :36           Total DDD patients count:  84011
5   2023-08-17  12 :02 :36  Total DDD patients for cell flag P  81589
6   2023-08-17  12 :02 :36  Total DDD patients for cell flag N   2422
7   2023-08-17  12 :02 :43                  Total BBB patients  10119
8   2023-08-17  12 :02 :43  Total BBB patients for cell flag P   3747
9   2023-08-17  12 :02 :43  Total BBB patients for cell flag S      1
10  2023-08-17  12 :02 :43  Total BBB patients for cell flag N   6371
11  2023-08-17  12 :15 :17                  Total DDD patients  84011
12  2023-08-17  12 :15 :17  Total DDD patients for cell flag P  81589
13  2023-08-17  12 :15 :17  Total DDD patients for cell flag N   2422