In [83]:
event={"course":"course","group":"mpcs","merit":"average"}
def jayasri_education(event):
    if event["course"]=="course":        
        if event["group"]=="mpcs":            
            if event["merit"]=="average":
                admission_fee=1000
                   
    return {"course":event["course"],"group":event["group"],"merit":event["merit"],"admission_fee":admission_fee}

In [84]:
jayasri_education(event)

{'course': 'course',
 'group': 'mpcs',
 'merit': 'average',
 'admission_fee': 1000}

In [27]:
jayasri_education(event)

{'course': 'inter',
 'group': 'mec',
 'merit': 'average',
 'admission_fee': 'no_course_availiable'}

In [26]:
event={"course":"inter","group":"mec","merit":"average"}
def jayasri_education(event):
  
    if event["course"]=="btech":        
        if event["group"]=="ece":
            if event["merit"]=="good":
                admission_fee=80000
            elif event["merit"]=="average":
                admission_fee=90000
            elif event["merit"]=="above_average":
                admission_fee=100000
            else:
                admission_fee=no_course_availiable
                
               
        elif event["group"]=="eee":
            if event["merit"]=="good":
                admission_fee=80000
            elif event["merit"]=="average":
                admission_fee=90000
            elif event["merit"]=="above_average":
                admission_fee=100000
            else:
                admission_fee=no_course_availiable
       
        elif event["group"]=="mec":
            if event["merit"]=="good":
                admission_fee=80000
            elif event["merit"]=="average":
                admission_fee=90000
            elif event["merit"]=="above_average":
                admission_fee=100000
            else:
                admission_fee=no_course_availiable
                
        
        elif event["group"]=="cse":
            if event["merit"]=="good":
                admission_fee=80000
            elif event["merit"]=="average":
                admission_fee=90000
            elif event["merit"]=="above_average":
                admission_fee=100000
            else:
                admission_fee=no_course_availiable
      
            
        elif event["group"]=="it":
            if event["merit"]=="good":
                admission_fee=80000
            elif event["merit"]=="average":
                admission_fee=90000
            elif event["merit"]=="above_average":
                admission_fee=100000
            else:
                admission_fee=no_course_availiable

        else:
            admission_fee=no_course_availiable 
    
    elif event["course"]=="inter":
        if event["group"]=="mpc":
            if event["merit"]=="good":
                admission_fee=80000
            elif event["merit"]=="average":
                admission_fee=90000
            elif event["merit"]=="above_average":
                admission_fee=100000
            else:
                admission_fee="no_course_availiable"
        
        elif event["group"]=="bipc":
            if event["merit"]=="good":
                admission_fee=80000
            elif event["merit"]=="average":
                admission_fee=90000
            elif event["merit"]=="above_average":
                admission_fee=100000
            else:
                admission_fee="no_course_availiable"
           
        elif event["group"]=="cec":
            if event["merit"]=="good":
                admission_fee=80000
            elif event["merit"]=="average":
                admission_fee=90000
            elif event["merit"]=="above_average":
                admission_fee=100000
            else:
                admission_fee="no_course_availiable"  
       
        elif event["group"]=="vocational":
            if event["merit"]=="good":
                admission_fee=80000
            elif event["merit"]=="average":
                admission_fee=90000
            elif event["merit"]=="above_average":
                admission_fee=100000
            else:
                admission_fee="no_course_availiable"  
       
        else:
            admission_fee="no_course_availiable"
        
    
    elif event["course"]=="degree":
        if event["group"]=="bsc":
            if event["merit"]=="good":
                admission_fee=80000
            elif event["merit"]=="average":
                admission_fee=90000
            elif event["merit"]=="above_average":
                admission_fee=100000
            else:
                admission_fee="no_course_availiable"     
                
        elif event["group"]=="bcom":
            if event["merit"]=="good":
                admission_fee=80000
            elif event["merit"]=="average":
                admission_fee=90000
            elif event["merit"]=="above_average":
                admission_fee=100000
            else:
                admission_fee=no_course_availiable
              
        elif event["group"]=="ba":
            if event["merit"]=="good":
                admission_fee=80000
            elif event["merit"]=="average":
                admission_fee=90000
            elif event["merit"]=="above_average":
                admission_fee=100000
            else:
                admission_fee=no_course_availiable
       
        else:
            admission_fee=no_course_availiable
    else:
        admisson_fee=no_course_availiable
        
            
        
    return{"course":event["course"],"group":event["group"],"merit":event["merit"],"admission_fee": admission_fee}

In [15]:
jayasri_education(event)

{'course': 'btech',
 'group': 'ece',
 'merit': 'below_average',
 'admission_fee': 0}

In [21]:

import pandas as pd
df=pd.read_excel(r"D:\jayasri\pandas-classes\assignments-8-b\month names.xlsx",sheet_name='Sheet3')
df

    Monthnames Seasons
0      January  winter
1     February  winter
2        march  summer
3        april  summer
4          may  summer
5         june   rainy
6         july   rainy
7       august   rainy
8   septyember   rainy
9     octomber   rainy
10    november  winter
11    december  winter

In [ ]:
import pandas as pd
df=pd.read_excel(r"D:\jayasri\pandas-classes\assignments-8-b\family members.xlsx",sheet_name='Sheet2')
df