In [16]:
import pandas as pd
#df5=pd.read_csv(r"C:\Jayasri\class-9\colour.txt")
#df5
df=pd.read_csv(r"C:\jaya sri\Jayasri\class-9\colour.txt")
df

   colour_names^red
0             blue^
1            green^
2           yellow^
3              red^
4            black^
5            brown^
6          skyblue^
7             pink^
8            white^
9           orange^
10           white^

In [17]:
df.head()

  colour_names^red
0            blue^
1           green^
2          yellow^
3             red^
4           black^

In [18]:
df.tail()

   colour_names^red
6          skyblue^
7             pink^
8            white^
9           orange^
10           white^

In [19]:
df.shape

(11, 1)

In [20]:
df.index

RangeIndex(start=0, stop=11, step=1)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 1 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   colour_names^red  11 non-null     object
dtypes: object(1)
memory usage: 216.0+ bytes

In [22]:
df.columns

Index(['colour_names^red'], dtype='object')

In [24]:
df.dtypes

colour_names^red    object
dtype: object

In [25]:
type(df)

pandas.core.frame.DataFrame

In [27]:
df.columns

Index(['colour_names^red'], dtype='object')

In [29]:
df.colour_names^red.unique()

AttributeError: 'DataFrame' object has no attribute 'colour_names'

In [28]:
lst5=list(df.columns)
lst5

['colour_names^red']

In [14]:

lst5=list[0:0]
lst5

list[slice(0, 0, None)]