In [11]:
friends_names=["ruchitha","geetha","hareesh","supraja","sai","lakshmi","divya","krupa","rajini","swarna"]
for p in friends_names:
    print("my_friends_names is:",p)

my_friends_names is: ruchitha
my_friends_names is: geetha
my_friends_names is: hareesh
my_friends_names is: supraja
my_friends_names is: sai
my_friends_names is: lakshmi
my_friends_names is: divya
my_friends_names is: krupa
my_friends_names is: rajini
my_friends_names is: swarna

In [12]:
family_members=["jayasri","mounika","prasad","janardhna rao","lakshmi","rajini","basavaiah","rakesh","rajasekhar","srinivas"]
for p in family_members:
    print(p)

jayasri
mounika
prasad
janardhna rao
lakshmi
rajini
basavaiah
rakesh
rajasekhar
srinivas

In [13]:
food_names=["potato","ladies finger","brinjal","carrot","onions","cabage","califlower","bitter guared","beat_root"]
for p in food_names:
    print("food_names:",p)

food_names: potato
food_names: ladies finger
food_names: brinjal
food_names: carrot
food_names: onions
food_names: cabage
food_names: califlower
food_names: bitter guared
food_names: beat_root

In [14]:
food_names1=["chicken","fish","egg","egg fride rice","chicken fride rice:","egg fride rice","chicken manchuriya","egg manchuriya"]
for p in food_names1:
    print("food_names1:",p)

food_names1: chicken
food_names1: fish
food_names1: egg
food_names1: egg fride rice
food_names1: chicken fride rice:
food_names1: egg fride rice
food_names1: chicken manchuriya
food_names1: egg manchuriya

In [16]:
colour_names={"red","blue","green","yellow","red","black","brown","skyblue","pink","white","orange","white"}
for p in colour_names:
    print("colour_names:",p)

colour_names: yellow
colour_names: blue
colour_names: red
colour_names: orange
colour_names: white
colour_names: brown
colour_names: skyblue
colour_names: green
colour_names: pink
colour_names: black

In [18]:
colour_names={"c

In [19]:
colour_names

{'black',
 'blue',
 'brown',
 'green',
 'orange',
 'pink',
 'red',
 'skyblue',
 'white',
 'yellow'}

In [20]:
month_names=["january","february","march","april","may","june","july","august","september","octomber","november","december"]
for p in month_names:
    print("month_names:",p)

month_names: january
month_names: february
month_names: march
month_names: april
month_names: may
month_names: june
month_names: july
month_names: august
month_names: september
month_names: octomber
month_names: november
month_names: december

In [3]:
for p in range(9,91,9):
    print(p)

9
18
27
36
45
54
63
72
81
90

In [2]:
for p in range(12,121,12):
    print(p)

12
24
36
48
60
72
84
96
108
120

In [40]:
for p in range(0,60,6):
    print("iteration*********************",p)
    x=p+15
    print("the value of p:",p)
    print("the value ofx+15",p+15)
    print("the value of x:",x)

iteration********************* 0
the value of p: 0
the value ofx+15 15
the value of x: 15
iteration********************* 6
the value of p: 6
the value ofx+15 21
the value of x: 21
iteration********************* 12
the value of p: 12
the value ofx+15 27
the value of x: 27
iteration********************* 18
the value of p: 18
the value ofx+15 33
the value of x: 33
iteration********************* 24
the value of p: 24
the value ofx+15 39
the value of x: 39
iteration********************* 30
the value of p: 30
the value ofx+15 45
the value of x: 45
iteration********************* 36
the value of p: 36
the value ofx+15 51
the value of x: 51
iteration********************* 42
the value of p: 42
the value ofx+15 57
the value of x: 57
iteration********************* 48
the value of p: 48
the value ofx+15 63
the value of x: 63
iteration********************* 54
the value of p: 54
the value ofx+15 69
the value of x: 69

In [1]:


import pandas as pd
df=pd.read_excel(r"D:\\jayasri\\pandas-classes\\non-veg-items.xlsx")
df

      names     quality
0  ruchitha  brave girl
1    geetha       funny
2   hareesh      clever
3   supraja  spititcual
4       sai       angry
5   lakshmi      silent
6     divya    comedian
7     krupa    innocent
8    rajini         joy
9    swarna    goodgirl

In [ ]:
D:\jayasri\pandas-classes\assignments-8-b

In [2]:
import pandas as pd
df=pd.read_excel(r"D:\jayasri\pandas-classes\assignments-8-b\family members.xlsx")
df

      names     quality
0  ruchitha  brave girl
1    geetha       funny
2   hareesh      clever
3   supraja  spititcual
4       sai       angry
5   lakshmi      silent
6     divya    comedian
7     krupa    innocent
8    rajini         joy
9    swarna    goodgirl