In [1]:
import pandas as pd
df_b_p=pd.read_excel(r"C:\jaya sri\Jayasri\sql task\bbb apatients.xlsx")
df_b_p

       patientid  membershid    groupid   person_nbr
0          10001   123456891  Upperbody  2386.041022
1          10002   123456891  Upperbody  7219.568003
2          10003   123456891  Upperbody  1110.167181
3          10004   123456891  Upperbody  4522.639998
4          10005   123456891  Upperbody  7305.192980
...          ...         ...        ...          ...
10114      20115   123456896     Nerves  2985.574310
10115      20116   123456896     Nerves  9698.888692
10116      20117   123456896     Nerves  3305.456074
10117      20118   123456896     Nerves  9179.853623
10118      20119   123456896     Nerves  2048.429434

[10119 rows x 4 columns]

In [2]:
df_b_p.columns

Index(['patientid', 'membershid', 'groupid', 'person_nbr'], dtype='object')

In [4]:
df_b_p.shape

(10119, 4)

In [5]:
df_b_a=pd.read_excel(r"C:\jaya sri\Jayasri\sql task\bbb address.xlsx")
df_b_a

,patientid,membershid,groupid,person_nbr,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR
0,10001,123456891,Upperbody,2.386041e+03,C,O,C
1,10002,123456891,Upperbody,7.219568e+03,C,O,C
2,10003,123456891,Upperbody,1.110167e+03,C,O,C
3,10004,123456891,Upperbody,4.522640e+03,C,O,C
4,10005,123456891,Upperbody,7.305193e+03,C,O,C
...,...,...,...,...,...,...,...
15989,25990,28862324,EarD,5.932945e+06,C,H,C
15990,25991,46570001,EarD,1.028028e+07,C,H,C
15991,25992,26399463,EarD,2.075188e+06,C,H,C
15992,25993,63512490,EarD,1.078458e+07,C,H,C
15993,25994,30518036,EarD,8.825896e+06,C,H,C

In [6]:
df_b_a.columns

Index(['patientid', 'membershid', 'groupid', 'person_nbr', 'Primary_Phone_NBR',
       'Phone2_NBR', 'Phone3_NBR'],
      dtype='object')

In [7]:
df_b_a.shape

(15994, 7)

In [8]:
bbb=df_b_p.merge(df_b_a,how="left",on="patientid")
bbb

,patientid,membershid_x,groupid_x,person_nbr_x,membershid_y,groupid_y,person_nbr_y,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR
0,10001,123456891,Upperbody,2386.041022,123456891,Upperbody,2386.041022,C,O,C
1,10002,123456891,Upperbody,7219.568003,123456891,Upperbody,7219.568003,C,O,C
2,10003,123456891,Upperbody,1110.167181,123456891,Upperbody,1110.167181,C,O,C
3,10004,123456891,Upperbody,4522.639998,123456891,Upperbody,4522.639998,C,O,C
4,10005,123456891,Upperbody,7305.192980,123456891,Upperbody,7305.192980,C,O,C
...,...,...,...,...,...,...,...,...,...,...
10114,20115,123456896,Nerves,2985.574310,123456896,Nerves,2985.574310,C,H,C
10115,20116,123456896,Nerves,9698.888692,123456896,Nerves,9698.888692,C,H,C
10116,20117,123456896,Nerves,3305.456074,123456896,Nerves,3305.456074,C,H,C
10117,20118,123456896,Nerves,9179.853623,123456896,Nerves,9179.853623,C,H,C
10118,20119,123456896,Nerves,2048.429434,123456896,Nerves,2048.429434,C,H,C

In [9]:
bbb.shape

(10119, 10)

In [11]:
import numpy as np

In [12]:
bbb["patientid"]=np.where(bbb["Primary_Phone_NBR"]=="C","P",bbb["Primary_Phone_NBR"])

In [13]:
bbb["patientid"]

0        P
1        P
2        P
3        P
4        P
        ..
10114    P
10115    P
10116    P
10117    P
10118    P
Name: patientid, Length: 10119, dtype: object

In [14]:
bbb["patientid"][606:625]

606    P
607    P
608    P
609    P
610    P
611    P
612    P
613    P
614    O
615    O
616    O
617    O
618    O
619    O
620    O
621    O
622    O
623    O
624    O
Name: patientid, dtype: object

In [15]:
bbb["patientid"][2725:2745]

2725    O
2726    O
2727    O
2728    H
2729    H
2730    H
2731    H
2732    H
2733    H
2734    H
2735    H
2736    H
2737    H
2738    H
2739    H
2740    H
2741    H
2742    H
2743    H
2744    H
Name: patientid, dtype: object

In [16]:
bbb["patientid"]=np.where(bbb["Primary_Phone_NBR"]!="C","S",bbb["Primary_Phone_NBR"])

In [17]:
bbb["patientid"]

0        C
1        C
2        C
3        C
4        C
        ..
10114    C
10115    C
10116    C
10117    C
10118    C
Name: patientid, Length: 10119, dtype: object

In [18]:
bbb["patientid"][2725:2745]

2725    S
2726    S
2727    S
2728    S
2729    S
2730    S
2731    S
2732    S
2733    S
2734    S
2735    S
2736    S
2737    S
2738    S
2739    S
2740    S
2741    S
2742    S
2743    S
2744    S
Name: patientid, dtype: object

In [21]:
bbb["patientid"]=np.where(=! bbb["Primary_Phone_NBR"]," ",bbb["Primary_Phone_NBR"])

SyntaxError: invalid syntax (2744729179.py, line 1)

In [22]:
from datetime import date
today=date.today()
print("today = ",today)

today =  2023-07-27

In [28]:
import time
now=time.localtime()
formatted_time=time.strftime("%H:%M:%S",now)
print("formatted_time",formatted_time)

formatted_time 15:15:08

In [24]:
df1=pd.DataFrame({"date":["a","b","c","d"],"time":["1","2","3","4"],"flag":["101","102","103","104"]})

In [25]:
df1

  date time flag
0    a    1  101
1    b    2  102
2    c    3  103
3    d    4  104

In [71]:
bbb["patientid"]=np.where((bbb["Primary_Phone_NBR"]=="C") & (bbb["Primary_Phone_NBR"]!="C"),"P","s")

In [72]:
bbb["patientid"]

0           s
1           s
2           s
3           s
4           s
           ..
20521879    s
20521880    s
20521881    s
20521882    s
20521883    s
Name: patientid, Length: 20521884, dtype: object

In [ ]:
bbb["patientid"][0:20]

In [74]:
bbb["patientid"]=np.where((bbb["Primary_Phone_NBR"]=="C") | (bbb["Primary_Phone_NBR"]!="C"),"P","s")

In [75]:
bbb["patientid"]

0           P
1           P
2           P
3           P
4           P
           ..
20521879    P
20521880    P
20521881    P
20521882    P
20521883    P
Name: patientid, Length: 20521884, dtype: object

In [52]:
bbb["patientid"][0:20]

0     P
1     P
2     P
3     P
4     P
5     P
6     P
7     P
8     P
9     P
10    P
11    P
12    P
13    P
14    P
15    P
16    P
17    P
18    P
19    P
Name: patientid, dtype: object

In [ ]:
bbb["Primary_Phone_NBR"][20:40]

In [69]:
bbb["patientid"][1465:2728]

1465    S
1466    S
1467    S
1468    S
1469    S
       ..
2723    S
2724    S
2725    S
2726    S
2727    S
Name: patientid, Length: 1263, dtype: object

In [7]:
bbb[0:10]

,patientid_x,membershid_x,groupid,person_nbr_x,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR,patientid_y,membershid_y,person_nbr_y
0,10001,123456891,Upperbody,2386.041022,C,O,C,10001,123456891,2386.041022
1,10001,123456891,Upperbody,2386.041022,C,O,C,10002,123456891,7219.568003
2,10001,123456891,Upperbody,2386.041022,C,O,C,10003,123456891,1110.167181
3,10001,123456891,Upperbody,2386.041022,C,O,C,10004,123456891,4522.639998
4,10001,123456891,Upperbody,2386.041022,C,O,C,10005,123456891,7305.192980
5,10001,123456891,Upperbody,2386.041022,C,O,C,10006,123456891,6407.115439
6,10001,123456891,Upperbody,2386.041022,C,O,C,10007,123456891,4824.677332
7,10001,123456891,Upperbody,2386.041022,C,O,C,10008,123456891,4880.812031
8,10001,123456891,Upperbody,2386.041022,C,O,C,10009,123456891,9920.119179
9,10001,123456891,Upperbody,2386.041022,C,O,C,10010,123456891,7840.809171

In [9]:
df_d_p=pd.read_excel(r"C:\jaya sri\Jayasri\sql task\ddd patients.xlsx")
df_d_p

       patientid    membershid  groupid   person_nbr
0         200001   4456.162497      100  2748.280106
1         200002   4456.162497      100  3983.633278
2         200003   4456.162497      100  5918.043203
3         200004   4456.162497      100  5882.418134
4         200005   4456.162497      100  3519.095855
...          ...           ...      ...          ...
84006     284007  61967.640577      108  6406.791285
84007     284008  61967.640577      108  5736.801838
84008     284009  61967.640577      108  7613.994822
84009     284010  61967.640577      108  8530.577571
84010     284011  61967.640577      108  2140.830791

[84011 rows x 4 columns]

In [10]:
df_d_d=pd.read_excel(r"C:\jaya sri\Jayasri\sql task\ddd address.xlsx")
df_d_d

,patientid,membershid,groupid,person_nbr,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR
0,200001,4456.162497,100,2748.280106,C,O,C
1,200002,4456.162497,100,3983.633278,C,O,C
2,200003,4456.162497,100,5918.043203,C,O,C
3,200004,4456.162497,100,5882.418134,C,O,C
4,200005,4456.162497,100,3519.095855,C,O,C
...,...,...,...,...,...,...,...
84006,284007,61967.640577,108,6406.791285,C,C,C
84007,284008,61967.640577,108,5736.801838,C,C,C
84008,284009,61967.640577,108,7613.994822,C,C,C
84009,284010,61967.640577,108,8530.577571,C,C,C
84010,284011,61967.640577,108,2140.830791,C,C,C

In [9]:
import numpy as np
  
np.where([[True, False], [True, True]],
         [[1, 2], [3, 4]], [[5, 6], [7, 8]])

array([[1, 6],
       [3, 4]])

In [10]:
# Returns the current local date
today = date.today()
print("Today date is: ", today)

NameError: name 'date' is not defined

In [12]:
# Import datetime class from datetime module
from datetime import datetime
 
# returns current date and time
today = datetime.today()
print("today = ", today)

today =  2023-07-27 11:43:53.429932

In [14]:
from datetime import date
today=date.today()
print("today = ",today)

today =  2023-07-27

In [16]:
from datetime import date
=time.today()
print("today = ",today)

AttributeError: type object 'datetime.time' has no attribute 'today'

In [18]:
# importing datetime module for now()
import datetime
     
# using now() to get current time
current_time = datetime.datetime.now()
current_time

datetime.datetime(2023, 7, 27, 11, 48, 45, 990230)

In [19]:
import time
 
# getting current time by passing
# the number of seconds since epoch
curr = time.ctime(1627908313.717886)
print("Current time:", curr)

Current time: Mon Aug  2 18:15:13 2021

In [ ]:
import time
now = time.localtime()
formatted_time = time.strftime("%Y-%m-%d %H:%M:%S", now)
print(formatted_time)

In [23]:
import time
now=time.localtime()
formatted_time=time.strftime("%H:%M:%S",now)
print(formatted_time)

11:57:42

In [ ]:
import pandas as pd
import numpy as np
df=pd.DataFrame({""})

In [56]:
import pandas as pd
df=pd.DataFrame({"names":["a","b","c","d"],"values":[10,20,30,40]})

In [57]:
df

  names  values
0     a      10
1     b      20
2     c      30
3     d      40

In [23]:
import numpy as np
df["name"]=np.where(df["values"]>15,"p","a")

In [24]:
df["name"]

0    a
1    p
2    p
3    p
Name: name, dtype: object

In [60]:
import numpy as np
df1=np.where((df["values"]<20) | (df["values"]==40),"param","athma")
df1

array(['param', 'athma', 'athma', 'param'], dtype='<U5')

In [63]:
import numpy as np
df1=np.where((df["values"]<20) & (df["values"]>30),"param","athma")
df1

array(['athma', 'athma', 'athma', 'athma'], dtype='<U5')